### Logistic regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split
import sklearn.metrics as matrics
from sklearn. metrics import classification_report,accuracy_score,confusion_matrix,roc_auc_score

In [ ]:
os.chdir('C:\Users\kabir\OneDrive\Documents\Desktop\Portfolio\Python project\Credit_card_analysis\output')

In [ ]:
bank_df=pd.read_csv('bankloans - 1722760129781.csv')

In [4]:
bank_df.head()

   age  ed  employ  address  income  debtinc   creddebt   othdebt  default
0   41   3      17       12     176      9.3  11.359392  5.008608      1.0
1   27   1      10        6      31     17.3   1.362202  4.000798      0.0
2   40   1      15       14      55      5.5   0.856075  2.168925      0.0
3   41   1      15       14     120      2.9   2.658720  0.821280      0.0
4   24   2       2        0      28     17.3   1.787436  3.056564      1.0

In [5]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       850 non-null    int64
 1   ed        850 non-null    int64
 2   employ    850 non-null    int64
 3   address   850 non-null    int64
 4   income    850 non-null    int64
 5   debtinc   850 non-null    float64
 6   creddebt  850 non-null    float64
 7   othdebt   850 non-null    float64
 8   default   700 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 59.9 KB

#### If target variable has missing value, drop them with no exception. Here our target variable is default, there are missing values in them, so dropping them.

## Dropping missing values

In [6]:
bank_df.dropna(subset=['default'],inplace= True)

In [7]:
bank_df.shape

(700, 9)

### Formula

In [8]:
','.join(bank_df.columns)

'age,ed,employ,address,income,debtinc,creddebt,othdebt,default'

In [9]:
feature=['age','ed','employ','address','income','debtinc','creddebt','othdebt','default']

### Finding the multicollinearity in the columns

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [11]:
vif=pd.DataFrame()
vif['feature']=feature
vif['VIF']=[variance_inflation_factor(bank_df[feature].values,i) for i in range(9)]

In [12]:
vif

    feature        VIF
0       age  16.968008
1        ed   4.997813
2    employ   6.207692
3   address   3.621080
4    income  10.508580
5   debtinc   9.147174
6  creddebt   3.853449
7   othdebt   6.485193
8   default   1.896906

### Age, address,otherdebt,ed,income|| these columns have high relation or collinearlity so removing them

In [13]:
feature1=['address','creddebt','income','ed']

In [14]:
formula1='default~'+ '+'.join(feature1)

In [15]:
formula1

'default~address+creddebt+income+ed'

### Train test split

In [16]:
train_data, test_data=train_test_split(bank_df,test_size=0.3,random_state=78)

In [17]:
train_data

     age  ed  employ  address  income  debtinc  creddebt    othdebt  default
152   36   1       4       10      23     16.3  1.327146   2.421854      0.0
271   22   1       4        1      16      1.2  0.084480   0.107520      0.0
222   48   3      17       26     113     12.0  3.376440  10.183560      0.0
489   50   2      15       31      60      1.1  0.467940   0.192060      0.0
209   26   2       6        0      35      1.9  0.085785   0.579215      0.0
..   ...  ..     ...      ...     ...      ...       ...        ...      ...
541   26   1      10        2      32      4.7  0.126336   1.377664      0.0
310   39   1      19       15      60     27.1  9.593400   6.666600      1.0
105   40   1       8       17      28      3.6  0.534240   0.473760      0.0
40    23   1       7        2      31      6.6  0.337590   1.708410      0.0
470   29   1       7        5      20     19.8  1.005840   2.954160      1.0

[490 rows x 9 columns]

In [18]:
test_data

     age  ed  employ  address  income  debtinc  creddebt   othdebt  default
98    29   2       4        9      19      6.3  0.681093  0.515907      0.0
63    33   2       4        9      55      7.0  2.159850  1.690150      0.0
590   51   1      10        1      44     13.2  4.960032  0.847968      1.0
20    39   1      22        3      52      3.2  1.154816  0.509184      0.0
636   28   2       0        7      29     13.3  2.148349  1.708651      1.0
..   ...  ..     ...      ...     ...      ...       ...       ...      ...
382   39   2       2       12      46     16.0  4.003840  3.356160      1.0
59    50   3      10       20      80     12.2  2.479040  7.280960      0.0
266   34   1       0        1      21      7.2  0.187488  1.324512      0.0
499   41   2       6        0      36     19.5  4.513860  2.506140      1.0
309   41   1       4       19      25     10.1  1.060500  1.464500      0.0

[210 rows x 9 columns]

In [19]:
model1=smf.logit(formula1,train_data).fit()

Optimization terminated successfully.
         Current function value: 0.467414
         Iterations 6

In [20]:
model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                  490
Model:                          Logit   Df Residuals:                      485
Method:                           MLE   Df Model:                            4
Date:                Fri, 11 Oct 2024   Pseudo R-squ.:                  0.1737
Time:                        11:09:13   Log-Likelihood:                -229.03
converged:                       True   LL-Null:                       -277.18
Covariance Type:            nonrobust   LLR p-value:                 6.047e-20
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.1934      0.276     -4.328      0.000      -1.734      -0.653
address       -0.0942      0.023     -4.143      0.000      -0.139      -0.050
creddebt       0.6389      0.094      6.787      0.000       0.454       0.823
income        -0.0250      0.005     -4.655      0.000      -0.036      -0.014
ed             0.4642      0.123      3.780      0.000       0.223       0.705
==============================================================================
"""

Ho: coeef is zero
Ha: coef is not zero

In [21]:
0.510 > 0.05

True

In [22]:
0.511 > 0.05

True

In [23]:
0.000 > 0.05

False

In [24]:
0.002 > 0.05

False

In [25]:
0.000 > 0.05

False

In [26]:
0.000 >.05

False

Only creddebt, address,debtinc, employ has significance

#### Simple rule for significance, which ever column p value has value more 0.05, just remove them

#### There are three columns which have value more than 0.05, so removing them

In [27]:
train_predict=model1.predict()

In [28]:
train_predict

array([0.19798852, 0.23686762, 0.05112986, 0.01227515, 0.25232099,
       0.19266838, 0.21162422, 0.09874008, 0.32100817, 0.19528066,
       0.16914782, 0.12110603, 0.49235652, 0.28323701, 0.23391142,
       0.32618747, 0.2685417 , 0.34894401, 0.37484875, 0.37017586,
       0.28580355, 0.15574882, 0.03122975, 0.22884603, 0.20989474,
       0.18382564, 0.04422311, 0.66631382, 0.92869489, 0.22621093,
       0.50408891, 0.24850244, 0.18910438, 0.09946547, 0.29500929,
       0.15045934, 0.07192192, 0.15471584, 0.40803462, 0.13731426,
       0.06139625, 0.08776587, 0.01511964, 0.23532869, 0.54946809,
       0.16875047, 0.13660692, 0.19048729, 0.07495881, 0.22868065,
       0.33195354, 0.62665335, 0.28718292, 0.60495545, 0.04232455,
       0.3071803 , 0.13743786, 0.37173137, 0.13863766, 0.90957006,
       0.05114705, 0.24619031, 0.12211699, 0.00280538, 0.2971269 ,
       0.0431937 , 0.02989198, 0.20087764, 0.14105134, 0.29400895,
       0.90464286, 0.34533515, 0.18352038, 0.14826078, 0.1166226 ,
       0.41339764, 0.48611622, 0.0811035 , 0.0963832 , 0.51246251,
       0.15850382, 0.54400025, 0.05932423, 0.50787363, 0.20046785,
       0.09125811, 0.25652968, 0.13130101, 0.22824898, 0.09292883,
       0.10766683, 0.03204161, 0.1070013 , 0.07039909, 0.5021197 ,
       0.08443615, 0.52433137, 0.3196712 , 0.09369064, 0.26502579,
       0.31195238, 0.63502465, 0.27788817, 0.0786516 , 0.35103782,
       0.00631974, 0.20104895, 0.29207646, 0.05987156, 0.08528818,
       0.19345585, 0.41594686, 0.23148099, 0.14354776, 0.07154528,
       0.35462074, 0.13634061, 0.31874996, 0.51483101, 0.14497999,
       0.1123686 , 0.16306224, 0.13542809, 0.21411334, 0.05327339,
       0.131019  , 0.56123778, 0.20420143, 0.13817937, 0.20907919,
       0.13360966, 0.17736286, 0.13794294, 0.01232863, 0.3672736 ,
       0.03758151, 0.04654058, 0.09106176, 0.1298035 , 0.16065862,
       0.13668025, 0.30894799, 0.1677352 , 0.36180017, 0.02890969,
       0.50202055, 0.26791932, 0.22763898, 0.17055323, 0.62276391,
       0.53103169, 0.06270969, 0.24347122, 0.28572608, 0.90935786,
       0.14838176, 0.13380627, 0.04350401, 0.44173443, 0.67473679,
       0.23057229, 0.22616313, 0.05789244, 0.09857677, 0.29602402,
       0.12217848, 0.0972375 , 0.20857994, 0.20194701, 0.18824844,
       0.42776932, 0.18896543, 0.24778984, 0.33802023, 0.49057587,
       0.15566117, 0.03765479, 0.05658828, 0.34110043, 0.29876756,
       0.14481538, 0.05662629, 0.09290668, 0.14793689, 0.22771874,
       0.03564071, 0.51041201, 0.41040081, 0.02700998, 0.2404775 ,
       0.53124358, 0.24164605, 0.13063863, 0.0700325 , 0.36029141,
       0.62738021, 0.52509377, 0.08266409, 0.73910865, 0.24585554,
       0.37871533, 0.22826392, 0.0966463 , 0.01137615, 0.45970428,
       0.11485036, 0.16108742, 0.07321238, 0.47761126, 0.18714315,
       0.81694153, 0.03880191, 0.33914195, 0.58203249, 0.07401057,
       0.43363878, 0.11728459, 0.39351187, 0.19285316, 0.87085418,
       0.1243151 , 0.87230166, 0.53194335, 0.56227103, 0.34332633,
       0.35903879, 0.45091644, 0.22110983, 0.57693707, 0.23092231,
       0.22741752, 0.24837538, 0.18230992, 0.10098509, 0.19089405,
       0.22304185, 0.14628687, 0.28264428, 0.72877764, 0.08408376,
       0.18872262, 0.48724442, 0.18489765, 0.40135596, 0.16302612,
       0.10350575, 0.71996943, 0.45988745, 0.07242057, 0.10143087,
       0.09217101, 0.20634375, 0.18340368, 0.12987559, 0.23275693,
       0.17985113, 0.21873858, 0.16206955, 0.46954936, 0.07878147,
       0.15696378, 0.15480259, 0.06313042, 0.30127046, 0.05023161,
       0.02749643, 0.3114934 , 0.10577517, 0.08568894, 0.10960833,
       0.12943464, 0.23031946, 0.03705706, 0.07603776, 0.06583602,
       0.1195532 , 0.85984719, 0.35180318, 0.26379281, 0.32384588,
       0.2571622 , 0.10871841, 0.24159154, 0.28022904, 0.04044419,
       0.06043494, 0.55592953, 0.11528147, 0.29368617, 0.19323472,
       0.21662616, 0.35895052, 0.20260443, 0.11708379, 0.30587267,
       0.10222412, 0.23749006, 0.23579004, 0.14330906, 0.38408965,
       0.02409434, 0.01486205, 0.51325317, 0.14457323, 0.18802356,
       0.12402756, 0.07244164, 0.12013663, 0.25448626, 0.27796321,
       0.24098854, 0.17145485, 0.2042267 , 0.46767147, 0.20628181,
       0.20568618, 0.36301726, 0.09247581, 0.20923231, 0.24248524,
       0.20344964, 0.34930871, 0.16667523, 0.51961198, 0.02306147,
       0.56772803, 0.12141278, 0.43006884, 0.23640454, 0.24770983,
       0.12753286, 0.18744567, 0.24899022, 0.2354955 , 0.27501618,
       0.18329161, 0.22449876, 0.46389231, 0.00268662, 0.49273494,
       0.1431931 , 0.39024176, 0.12948281, 0.38185122, 0.03055183,
       0.36301258, 0.1250327 , 0.16839884, 0.18259395, 0.16285994,
       0.21523635, 0.24398334, 0.48748175, 0.21410213, 0.60130085,
       0.28191116, 0.62330008, 0.41283193, 0.2417321 , 0.47299456,
       0.0685633 , 0.18154407, 0.34568256, 0.30603599, 0.22937661,
       0.32520463, 0.34042693, 0.18471309, 0.0784249 , 0.15493946,
       0.00919268, 0.03156908, 0.23589675, 0.71104698, 0.30082361,
       0.86184595, 0.25177875, 0.01987681, 0.24833204, 0.11849188,
       0.07609357, 0.06670661, 0.0557864 , 0.26817916, 0.25383111,
       0.0542129 , 0.33139015, 0.42267923, 0.58490744, 0.46547169,
       0.3287815 , 0.08848972, 0.40026315, 0.99943806, 0.04215987,
       0.32853467, 0.22905646, 0.18517163, 0.0819553 , 0.03401705,
       0.16123948, 0.11441335, 0.5496726 , 0.37039977, 0.62522279,
       0.29112241, 0.60546429, 0.29384107, 0.46035547, 0.10101379,
       0.02887245, 0.27714443, 0.42756414, 0.91086122, 0.17586741,
       0.19590511, 0.72542318, 0.37324438, 0.59749135, 0.2367777 ,
       0.09925129, 0.24767632, 0.10154565, 0.15274647, 0.06213778,
       0.25763993, 0.13904958, 0.12993515, 0.2251224 , 0.20740635,
       0.24922451, 0.09259137, 0.21267963, 0.19447662, 0.22152887,
       0.46061693, 0.04142087, 0.01170395, 0.38391182, 0.18229008,
       0.42480834, 0.544687  , 0.04396132, 0.89049755, 0.29673541,
       0.09025101, 0.10047327, 0.3472356 , 0.07683193, 0.10042553,
       0.08774316, 0.39563835, 0.03921962, 0.20865901, 0.41037317,
       0.18154969, 0.05786921, 0.11647728, 0.02292324, 0.20640753,
       0.1278472 , 0.33824278, 0.0989953 , 0.14972657, 0.10932512,
       0.26910232, 0.24278465, 0.07938707, 0.26599842, 0.27484738,
       0.11181247, 0.2675252 , 0.40849582, 0.31766774, 0.03380754,
       0.23752231, 0.66540527, 0.22904641, 0.2371778 , 0.9838864 ,
       0.21193291, 0.15232692, 0.21363484, 0.23493186, 0.19892293,
       0.16275975, 0.92312007, 0.06356518, 0.18575484, 0.25766374])

In [29]:
train_data['pred']=train_predict

In [31]:
train_data

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,pred
152,36,1,4,10,23,16.3,1.327146,2.421854,0.0,0.197989
271,22,1,4,1,16,1.2,0.084480,0.107520,0.0,0.236868
222,48,3,17,26,113,12.0,3.376440,10.183560,0.0,0.051130
489,50,2,15,31,60,1.1,0.467940,0.192060,0.0,0.012275
209,26,2,6,0,35,1.9,0.085785,0.579215,0.0,0.252321
...,...,...,...,...,...,...,...,...,...,...
541,26,1,10,2,32,4.7,0.126336,1.377664,0.0,0.162760
310,39,1,19,15,60,27.1,9.593400,6.666600,1.0,0.923120
105,40,1,8,17,28,3.6,0.534240,0.473760,0.0,0.063565
40,23,1,7,2,31,6.6,0.337590,1.708410,0.0,0.185755
470,29,1,7,5,20,19.8,1.005840,2.954160,1.0,0.257664

In [32]:
test_data['pred']=model1.predict(test_data)

In [33]:
test_data

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,pred
98,29,2,4,9,19,6.3,0.681093,0.515907,0.0,0.239903
63,33,2,4,9,55,7.0,2.159850,1.690150,0.0,0.247977
590,51,1,10,1,44,13.2,4.960032,0.847968,1.0,0.776320
20,39,1,22,3,52,3.2,1.154816,0.509184,0.0,0.171436
636,28,2,0,7,29,13.3,2.148349,1.708651,1.0,0.431030
...,...,...,...,...,...,...,...,...,...,...
382,39,2,2,12,46,16.0,4.003840,3.356160,1.0,0.502850
59,50,3,10,20,80,12.2,2.479040,7.280960,0.0,0.108789
266,34,1,0,1,21,7.2,0.187488,1.324512,0.0,0.226311
499,41,2,6,0,36,19.5,4.513860,2.506140,1.0,0.847854
309,41,1,4,19,25,10.1,1.060500,1.464500,0.0,0.078198

In [55]:
train_data['pred_class']=np.where(train_data['pred']>0.5,1,0)

In [56]:
test_data['pred_class']=np.where(test_data['pred']>0.5,1,0)

In [57]:
train_data

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,pred,prob,pred_class
152,36,1,4,10,23,16.3,1.327146,2.421854,0.0,0.197989,0,0
271,22,1,4,1,16,1.2,0.084480,0.107520,0.0,0.236868,0,0
222,48,3,17,26,113,12.0,3.376440,10.183560,0.0,0.051130,0,0
489,50,2,15,31,60,1.1,0.467940,0.192060,0.0,0.012275,0,0
209,26,2,6,0,35,1.9,0.085785,0.579215,0.0,0.252321,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,26,1,10,2,32,4.7,0.126336,1.377664,0.0,0.162760,0,0
310,39,1,19,15,60,27.1,9.593400,6.666600,1.0,0.923120,1,1
105,40,1,8,17,28,3.6,0.534240,0.473760,0.0,0.063565,0,0
40,23,1,7,2,31,6.6,0.337590,1.708410,0.0,0.185755,0,0
470,29,1,7,5,20,19.8,1.005840,2.954160,1.0,0.257664,0,0

In [58]:
test_data

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default,pred,prob,pred_class
98,29,2,4,9,19,6.3,0.681093,0.515907,0.0,0.239903,0,0
63,33,2,4,9,55,7.0,2.159850,1.690150,0.0,0.247977,0,0
590,51,1,10,1,44,13.2,4.960032,0.847968,1.0,0.776320,1,1
20,39,1,22,3,52,3.2,1.154816,0.509184,0.0,0.171436,0,0
636,28,2,0,7,29,13.3,2.148349,1.708651,1.0,0.431030,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
382,39,2,2,12,46,16.0,4.003840,3.356160,1.0,0.502850,1,1
59,50,3,10,20,80,12.2,2.479040,7.280960,0.0,0.108789,0,0
266,34,1,0,1,21,7.2,0.187488,1.324512,0.0,0.226311,0,0
499,41,2,6,0,36,19.5,4.513860,2.506140,1.0,0.847854,1,1
309,41,1,4,19,25,10.1,1.060500,1.464500,0.0,0.078198,0,0

In [47]:
## Confusion matrix for train data

In [48]:
confusion_matrix(train_data.default,train_data.prob)

array([[345,  21],
       [ 88,  36]], dtype=int64)

In [49]:
print(classification_report(train_data.default,train_data.prob))

              precision    recall  f1-score   support

         0.0       0.80      0.94      0.86       366
         1.0       0.63      0.29      0.40       124

    accuracy                           0.78       490
   macro avg       0.71      0.62      0.63       490
weighted avg       0.75      0.78      0.75       490

In [50]:
## Matrices for test data

In [44]:
confusion_matrix(test_data.default,test_data.prob)

array([[145,   6],
       [ 45,  14]], dtype=int64)

In [45]:
print(classification_report(test_data.default,test_data.prob))

              precision    recall  f1-score   support

         0.0       0.76      0.96      0.85       151
         1.0       0.70      0.24      0.35        59

    accuracy                           0.76       210
   macro avg       0.73      0.60      0.60       210
weighted avg       0.75      0.76      0.71       210

In [59]:
## Finding the right cut off

In [60]:
roc_df=pd.DataFrame()
for cutoff in np.linspace(0,1,50):
    train_data['pred_class']=np.where(train_data['pred']>cutoff,1,0)
    TP=np.where((train_data.default ==1) & (train_data.pred_class ==1),1,0)
    TN=np.where((train_data.default ==0) & (train_data.pred_class ==0),1,0)
    FP=np.where((train_data.default ==0) & (train_data.pred_class ==1),1,0)
    FN=np.where((train_data.default ==1) & (train_data.pred_class ==0),1,0)
    actual_1=(TP.sum()+FN.sum())
    actual_0=(TN.sum()+FP.sum())
    #sensitivity is recall of 1s
    recall=TP.sum()/actual_1 # recall is also known as sensitivity
    #specificity - is recall of 0s
    specificity=TN.sum()/actual_0
    total=(TP.sum()/actual_1)+(TN.sum()/actual_0)
    temp_df=pd.DataFrame([cutoff,recall,specificity,total]).T
    roc_df=pd.concat([roc_df,temp_df],axis=0)

In [62]:
roc_df.columns=['cutoff','recall','specificity','total']
roc_df.sort_values(by='total',ascending=False)

     cutoff    recall  specificity     total
0  0.244898  0.725806     0.726776  1.452582
0  0.265306  0.677419     0.765027  1.442447
0  0.306122  0.596774     0.825137  1.421911
0  0.224490  0.774194     0.633880  1.408073
0  0.285714  0.620968     0.786885  1.407853
0  0.326531  0.556452     0.841530  1.397982
0  0.204082  0.798387     0.576503  1.374890
0  0.183673  0.846774     0.513661  1.360435
0  0.346939  0.500000     0.855191  1.355191
0  0.163265  0.870968     0.472678  1.343645
0  0.142857  0.919355     0.409836  1.329191
0  0.367347  0.443548     0.871585  1.315133
0  0.387755  0.419355     0.887978  1.307333
0  0.122449  0.943548     0.346995  1.290543
0  0.408163  0.379032     0.890710  1.269743
0  0.428571  0.354839     0.909836  1.264675
0  0.448980  0.346774     0.915301  1.262075
0  0.102041  0.951613     0.284153  1.235766
0  0.469388  0.306452     0.923497  1.229949
0  0.489796  0.290323     0.934426  1.224749
0  0.510204  0.266129     0.945355  1.211484
0  0.530612  0.241935     0.956284  1.198220
0  0.081633  0.983871     0.207650  1.191521
0  0.571429  0.209677     0.975410  1.185087
0  0.551020  0.217742     0.967213  1.184955
0  0.591837  0.193548     0.978142  1.171690
0  0.612245  0.177419     0.983607  1.161026
0  0.632653  0.145161     0.986339  1.131500
0  0.653061  0.137097     0.986339  1.123436
0  0.061224  0.983871     0.139344  1.123215
0  0.693878  0.120968     0.989071  1.110039
0  0.673469  0.120968     0.986339  1.107307
0  0.714286  0.112903     0.989071  1.101974
0  0.836735  0.088710     0.994536  1.083245
0  0.857143  0.088710     0.994536  1.083245
0  0.795918  0.088710     0.991803  1.080513
0  0.755102  0.088710     0.991803  1.080513
0  0.775510  0.088710     0.991803  1.080513
0  0.816327  0.088710     0.991803  1.080513
0  0.734694  0.088710     0.989071  1.077781
0  0.040816  0.991935     0.084699  1.076635
0  0.877551  0.064516     0.997268  1.061784
0  0.897959  0.056452     0.997268  1.053719
0  0.020408  1.000000     0.030055  1.030055
0  0.918367  0.024194     0.997268  1.021461
0  0.979592  0.016129     1.000000  1.016129
0  0.938776  0.016129     1.000000  1.016129
0  0.959184  0.016129     1.000000  1.016129
0  0.000000  1.000000     0.000000  1.000000
0  1.000000  0.000000     1.000000  1.000000

In [63]:
## After running this code, I find .2 is right cut off

In [64]:
train_data['pred_class']=np.where(train_data['pred']>0.2,1,0)

In [65]:
test_data['pred_class']=np.where(test_data['pred']>0.2,1,0)

In [66]:
print(classification_report(train_data.default,train_data.pred_class))

              precision    recall  f1-score   support

         0.0       0.90      0.56      0.69       366
         1.0       0.38      0.81      0.52       124

    accuracy                           0.62       490
   macro avg       0.64      0.68      0.61       490
weighted avg       0.77      0.62      0.65       490

In [67]:
print(classification_report(test_data.default,test_data.pred_class))

              precision    recall  f1-score   support

         0.0       0.86      0.55      0.67       151
         1.0       0.40      0.78      0.53        59

    accuracy                           0.61       210
   macro avg       0.63      0.66      0.60       210
weighted avg       0.74      0.61      0.63       210

In [ ]:
## ruc score for train data

In [68]:
roc_auc_score(train_data.default,model1.predict())

0.7803410893707033

In [69]:
## test data
roc_auc_score(test_data.default,test_data.pred)

0.7603546974969133

In [ ]:
### ROC - AUC SCORE tells us whether the Model is able to distinguish between 0 and 1 properly or not